@import "bootstrap";

/* universal */

body > .container {
  //padding: 60px 15px 0;
  width: 100%;
  background-image: image-url("curtain.png") !important;
}

.show > .container {
  flex-direction: column;
  display: flex;
  width: 100%;
}

main {
  padding-bottom: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.title {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  //font-family: sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* navbar */

.navbar {
  background-color: black;
  color: white;
  a {
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    }
    a:hover {
      color: orange;
  }
}

.explanation {
  font-size: 1.5em;
  text-align: center;
  width: 44%;
  position: relative;
  padding: 1em 0em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

.navbar-custom {
  z-index: 2;
  margin-bottom: -60px;
  background-color: transparent;
  a {
    color: white;
    text-decoration: none;
  }
  .dropdown-menu a {
    color: white;
    background-color: black;
  }
}

.dropdown-menu {
  color: black;
  a {
    color: black;
  }
}

@media screen and (max-width: 991px) {
  .navbar-custom {
    margin-bottom: 0px;
    background-color: indianred;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .navbar-nav {
    padding-top: -15px;
    color: white;
  }
  .border-line {
    border-bottom: 1.2px solid white;
    margin: 0;
  }
}

/* footer */

.footer {
  background-color: black;
  text-align: center;
}

.footer > .container {
}

/* home */

.jumbotron {
  background-image: image_url("top_page.jpg");
  background-size: cover;
  background-position: center 60%;
  overflow: hidden;
  position: relative;
  //z-index: 1;
  height: 980px;
  background-color: rgba(0,0,0,0.6);
  margin: 0px;
  .container {
    position: relative;
    top: 10%;
    p {
      color: white;
    }
  }
}

.jumbotron:before{
  content: '';
  background: inherit;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.jumbotron-heading {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-stroke: 5px black;
  -webkit-text-stroke: 3px black;
  text-shadow: 0px 0px 20px rgba(255,255,0,1);
  color: #FFAA3F;
  font-size: 7em;
  margin: 0px;
}

.card-sign {
  //width: 300px;
  height: 1475px;
  background-image: image_url("sign_up.jpg");
}

.card-log {
  //width: 300px;
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  padding-top: 250px;
  height: 100vh;
}

.card-body {
  //padding-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .jumbotron-heading {
    color: white;
    font-size: 4em;
  }
  .lead {
    font-size: 1em;
    margin: 0px;
  }
}

.video-info {
  padding: 20px;
  a {
    color: black;
    text-decoration: none;
  }
}

/* error-message */
#error_explanation {
  color: red;
  li {
    list-style: none;
  }
}

.alert {
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  text-align: center;
  color: white;
  font-size: 1.5em;
  width: 70%;
  margin: auto;
  ul {
    color: white;
  }
}

/* sign in form */

.devise-links {
  padding-bottom: 20px;
}

.card-body {
  //max-width: 400px;
  padding: 60px 20px;
  background-color: white;
  //background-image: image_url("top_page.jpg");
}

.card-title {
  color: black;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.wrapper {
  background-image: image-url("curtain.png");
  height: 100%;
}

.btn-custom {
  color: white !important;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
}