// Place all the styles related to the flicks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.swiper-container {
  display: flex;
  height: 75vh;
  background-image: image-url("curtain.png");
  .swiper-slide {
    padding: 2%;
    align-items: center;
  }
}