// Place all the styles related to the movies controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-top p {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 15px;
}

.movie-show {
  text-align: center;
  background-image: image_url("curtain.png");
  background-repeat: repeat;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }
}



