// Place all the styles related to the reviews controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-item{
  background-color: white;
  padding: 15px;
  //margin-bottom: 5px;
  box-shadow: 1px 1px 5px #343a40;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: image-url("curtain.png");
  h2 {
    color: white;
  }
}

.review {
  img {
    margin: 20px 0px;
  }
}

.review {
  img {

  }
}